#axe {
    width: 135px; /* Ajustez la largeur selon vos besoins */
  }
  
  #graduation {
    display: flex;
    justify-content: space-between;
  }
  
  #graduation span {
    margin: 0 7px;
  }

  body{
    background-color: #272727;
    color: white;
  }
  