#graduation {
    display: flex;
    justify-content: space-between; /* Espacement équitable entre les spans */
    margin-top: 10px; /* Marge au-dessus des spans */
  }
  
  #graduation span {
    margin: 0 10px; /* Marge à gauche et à droite de chaque span */
  }  